.NFTInfoCard {
	position: relative;
	transition: 0.3s;
	border: 2px solid #fff;
	border-radius: 0;
	background: #121212;
	padding: 10px;
	width: 100%;
	min-width: 240px;
	height: 100%;
}
.NFTInfoCard:hover {
	border-color: var(--primary-main);
	background-color: var(--primary-main);
}
.NFTInfoCard__Link {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.NFTInfoCard__Price {
	color: var(--primary-main);
}
.NFTInfoCard:hover .NFTInfoCard__Price {
	color: var(--secondary-main);
}
.NFTInfoCard__Button {
	border-radius: 0;
	padding-right: 16px;
	padding-left: 16px;
	width: 100%;
	font-size: 20px;
}
.NFTInfoCard:hover .NFTInfoCard__Button {
	background: var(--secondary-main);
	color: var(--secondary-contrastText);
}
