.Card {
  overflow: hidden;
}
.Card__Actions {
  transition: 0.3s;
  transform: translateY(105%);
  padding: 0 !important;
}
.Card__ActionButton {
  width: 100%;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.Card:hover .Card__Actions,
.Card__Actions:focus,
.Card__Actions:focus-within {
  transform: translateY(0);
}
