.Area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  border: 2px dashed var(--secondary-dark);
  border-radius: 25px;
  padding: 15px;

  min-width: calc(min(50vw, 800px));
  max-width: 800px;
  min-height: 30vh;

  cursor: pointer;
  transition: 0.3s;
}
.Area:hover {
  background-color: #1e1e1e;
}


